.side {
    width: '100%';
    padding-left: '5%';
}

.scrollable {
    max-height: 'calc(100vh - 550px)';
    overflow: 'auto';
}

.scrollable_small {
    max-height: 'calc(100vh - 600px)';
    overflow: 'auto';
}

@media only screen and (max-width: 480px) {
    .frame a:not(:first-child) {display: none;}
    .frame a.icon {
        float: left;
        display: block;
    }
    .frame.responsive {position: relative;}
    .frame.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .frame.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}

