.logo {
  font-family: "Forum";
  width: 20%;
}

.menu {
  font-family: "Forum";
  background-color: #556b2f;
  color: white;
  text-decoration: none;
  opacity: 0.65;
}

.library-menu {
  text-decoration: none;
}
